*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
*.apk
*.aab
*.ap_
*.dex
*.class
.externalNativeBuild
.cxx
*.hprof
*.jks
*.keystore
keystore.properties
app/release.jks
